#Wed Nov 25 22:28:21 CET 2015
numberFeatureWords=400
lemma=false
tokencount=1662555106
existingWeightFile=
allowedCharactersFeature=\\.\\-'_
wordByDocument=false
addInverseRelations=true
existingCoocFile=
findMultiTokenWords=false
discoVersion=2
stopwordFile=
closingTag=
maximumFeatureLength=31
minimumFeatureLength=2
weightingMethod=lin
outputDir=
stopwords=
maximumWordLength=31
inputDir=
rightContext=3
dontCompute2ndOrder=false
minFreq=0
minWeight=0.1
allowedCharactersWord=\\.\\-'_
vocabularySize=281484
inputFileFormat=UNDEFINED
similarityMeasure=COSINE
leftContext=3
maxFreq=151326559
minimumWordLength=2
boundaryMarks=
multiTokenWordsDictionary=
lemmaFeatures=false
position=true
openingTag=
